.Panda {
    /*use display element before using justidy-item and align-items*/
    display: flex;
    align-items: center;
    height: 200px;
}
    
.Panda_image {
    border-radius: 8px;
    max-width: 300px;
    /*the image follow the page sizing and no stretching*/
    object-fit: cover;
}

.Panda_textbox {
    /*flex:1 will get the leftover space*/
    display: flex;
    flex-direction: column; /*make sure the description below the question*/
    justify-content: space-between;
    max-height: 100%;
    margin:50px;
    flex: 1;
}

.Panda_teen {
    border-radius: 8px;
    max-width: 300px;
    /*the image follow the page sizing and no stretching*/
    object-fit: cover;
}

.Panda_teen_textbox {
    /*flex:1 will get the leftover space*/
    display: flex;
    flex-direction: column; /*make sure the description below the question*/
    justify-content: space-between;
    max-height: 100%;
    margin:50px;
    flex: 1;
}

h1 {
    color: rgb(30, 88, 235);
    border: 3px solid rgb(245, 126, 7);
    border-radius: 10px;
    padding: 5px;
    text-shadow: 2px 2px yellow;
    margin-bottom: 120px;
    margin:auto;
}

body {
    background-color: rgb(129, 231, 151);
    padding: 50px;
}

